.left__section{
    width:222px;
    border-radius: 15px;
    border:1px solid rgb(235, 233, 233);
    margin-right: 20px;
    height:80vh;
}
.left__section__top{
    border-radius: 10px;
    padding:20px 0;
    border:1px solid rgb(213, 215, 216);
    background:white;
}
.left__section__bottom{
    margin-top:8px;
    background:white;
    border-radius: 10px;
    border:1px solid rgb(213, 215, 216);
}
.left__section__top__top{
    margin-bottom:25px;
    text-align: center;
    position: relative;
}
.avatar{
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.user__name{
    margin-bottom: 8px;
}
.left__section__top__top::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-20px;
    width:100%;
    background:rgb(218, 216, 216);
    height:1px;
}
.left__section__top__bottom{
    padding:0px;
}
.connections{
    margin:8px 0;
    cursor:pointer;
    padding:8px;
    width:100%
}
.viewers{
    margin:8px 0;
    cursor:pointer;
    padding:8px;
    width:100%
}
p{
    color:rgb(82, 80, 80);
    font-size:12px;
    line-height: 16px;
}
p:hover{
    color:rgb(0, 0, 0);
}
.connections:hover{
    background: rgb(233, 231, 231);

}
.viewers:hover{
    background: rgb(233, 231, 231);
}
.access{
    margin-bottom: 20px;
    position: relative;
    padding:8px;
}
.access::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    width:100%;
    background:rgb(218, 216, 216);
    height:1px;
}
.items{
    height:100%;
    padding:12px;
}
.items:hover{
    background: rgb(233, 231, 231);
}
.access:hover{
    background: rgb(233, 231, 231);

}
span{
    margin-left:115px;
    color:rgb(70, 121, 233);
}


/*middle section*/
