.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: center;
    height:90vh;
    
}
.login__logo{
    width: 120px;
    height:120px;
}
.signIn__btn{
    padding:10px 18px;
    font-weight: 500;
    background:rgb(80, 80, 245);
    color:white;
    width:200px;
    outline:none;
    border:1px solid white;
    border-radius:5px;
}
.signIn__btn:hover{
    background:rgb(39, 39, 194);
}