.middle__section{
    align-items: center;
    text-align: center;
    flex:1;
    margin-left: 2px;
}
.middle__top{
    background:#fff;
    width:90%;
    height:120px;
    border-radius: 10px;
    padding:5px 10px;
    border:1px solid rgb(207, 205, 205);
    margin-bottom:18px;
}
.middle__top form{
    width:100%;
    padding:2px 0;
}
.input__field{
    width:100%;
    padding:14px;
    border-radius:9999px;
    outline:none;
    border:1px solid rgb(218, 215, 215);
}
.input__field:hover{
    background:rgb(218, 215, 215);
}
.buttons{
    display:flex;
    widows: 100%;
    padding:5px 30px;
    justify-content: space-between;
}