.button{
    padding:14px;
    border: none;
    background:transparent;
    color:rgb(100, 96, 96);
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content: center;
    outline:none;
}
.btn__icon{
    margin-right: 6px;
}

.button:hover{
    background:rgb(224, 222, 222);
    border-radius:10px;
}