/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body{
  font-family: sans-serif;
}
.app__container{
  background:rgb(238, 236, 236);
  padding-left:10px;
}

