/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}
.app__container{
  background:rgb(238, 236, 236);
  padding-left:10px;
}
.body__content{
  display: flex;
  padding:45px 100px;
}

